@import './palette.scss';

:focus {
  outline: none !important;
}

.input {
  display: inline-block;
  font-family: 'Mukta', sans-serif;
  background-color: transparent;
  color: $bright;
  border: 0;
  border-bottom: 1px dotted $bright;
  margin: 5px;
  padding: 5px;
  width: 100%;
}

.input:focus {
  background: transparent;
  color: $bright;
  border-bottom: 1px solid $bright;
  border-left: 1px solid $bright;
}

.button {
  display: inline-block;
  font-family: 'Mukta', sans-serif;
  border: 0;
  color: $background;
  border: 1px solid $bright;
  margin: 5px;
  background: $bright;
  padding: 5px;
  width: 100%;
}

.button:hover {
  background-color: $pink;
  border: 1px solid $pink;
}

.low-confirm{
  position: absolute;
  bottom: 20vh;
  right: 10vw;
  width: 100px;
}