@import './palette.scss';

body {
  background-color: rgb(1, 1, 1);
}

.card{
  background: transparent;
  min-width: 250px;
  max-width: 300px;
  text-align: left;
}

.container{
  height: 100vh;
  width: 100vw;
  padding: 5vw;
}

.vertical-center{
  position: absolute;
  top: 10vh;
}

.view{
  height:75vh;
  width: 100vw;
  padding: 5px;
  border: 1px dotted $head;
}

.controller {
  position:absolute;
  bottom: 0;
  height: 24vh;
  width: 100vw;
  padding: 5px;
  border: 1px dotted $prompt;
}

.flicker {
  animation: flick 3s linear infinite;
}

@keyframes flick {
  50% {
    opacity: 30%;
  }
}