$background: #000000;
$purple:rgb(72, 31, 148);
$pink: rgb(177, 6, 180);
$bright: rgb(193, 161, 251);
$white: rgb(255, 255, 255);


//console
$error: rgb(251, 140, 140);
$head: rgb(140, 194, 251);
$prompt: rgb(140, 251, 146);
$info: rgb(251, 242, 140);
$disabled: rgb(107, 106, 106);